<div class="error">
    <% if @customer.errors.any? %>
      <% @customer.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 my-5">
      <h2 class="mb-4 text-center">会員情報編集</h2>
      <%= form_with model:@customer, url:customer_path, method: :patch, local:true do |f| %>

        <div class="field">
          <%= f.label :ユーザーネーム %><span>*</span><br />
          <%= f.text_field :user_name, class: "form-control mb-2", autofocus: true, autocomplete: "user_name" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><span>*</span><br />
          <%= f.email_field :email, class: "form-control mb-2", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :プロフィール画像 %><br />
          <%= f.attachment_field :profile_image, class: "mb-2", placeholder: "プロフィール画像" %>
        </div>


        <div class="field">
          <%= f.label :好きなチーム %><br />
          <%= f.select :favorite_team, options_for_select(Customer.favorite_teams_i18n.invert, selected: f.object.favorite_team),  { class: 'form-control mb-2', id: 'favorite_team' } %>
        </div>

        <div class="field">
          <%= f.label :自己紹介文 %><br />
          <%= f.text_area :introduction, class: "form-control mb-4", autofocus: true, autocomplete: "user_name" %>
        </div>



        <div class="actions">
          <%= f.submit "更新する", class: "form-control btn btn-success", data: {confirm: "更新しますか? "} %>
        </div>
      <% end %>
    <div class="col-sm-4"></div>
  </div>
</div>
