<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center my-3">
      <h3><%= @post.title %></h3></br>
      (<%= l @post.created_at %>)
    </div>
    <div class="col-sm-3 text-center">
      <table class="table table-bordered">
　      <tbody>
　        <tr>
　          <th style="width: 35%">ジャンル</th>
　          <td style="width: 65%"><%= @post.genre.name %></td>
　        </tr>
　      </tbody>
　    </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 text-center my-3">
      <%= attachment_image_tag @post, :post_image, :fill, 350, 350, fallback: "no_image.jpg"  %>
    </div>
    <div class="col-sm-3"></div>
  </div>
  
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 my-3">
      <h5 class="text-center"><span class="border-bottom border-dark">投稿内容</span></h5></br>
      <h6 class="text-center"><strong><%= @post.body %></strong></h6>
    </div>
    <div class="col-sm-2"></div>
  </div>
  
  <div class="row mt-4">
    <div class="col-sm-4">
      <h6 class="text-center">投稿者:
      <%= link_to admin_customer_path(@post.customer.id) do %>
       <%= attachment_image_tag @post.customer, :profile_image,  format: 'jpeg', fallback: "no_image.jpg", size:'30x30', class: "rounded-circle mb-2" %>
       <%= @post.customer.user_name %>
      <% end %>
      </h6>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
  
  <div class="row mt-4 border-top border-dark">
    <div class="col-sm-12 mt-4">
       <p class="text-center text-primary"><strong class="border-bottom border-dark">コメント件数：【<%= @post.comments.count %>】件</strong></p>
      <table class="table">
        <thead>
          <tr>
            <th style="width: 20%">投稿日時</th>
            <th style="width: 20%">投稿者</th>
            <th style="width: 50%">内容</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= l comment.created_at %></td>
              <td>
                <%= link_to customer_path(comment.customer) do %>
                  <%= attachment_image_tag comment.customer, :profile_image,  format: 'jpeg', fallback: "no_image.jpg", size:'30x30', class: "rounded-circle mb-2" %>
                  <%= comment.customer.user_name %>
                <% end %>
              </td>
              <td><%= comment.comment %></td>
              <td><%= link_to "強制削除", admin_post_comment_path(@post, comment), method: :delete, class: "btn btn-outline-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4"></div>
  　<div class="col-sm-4 text-center">
  　  <%= link_to '投稿強制削除',admin_post_path, class:"btn btn-danger btn-block", method: :delete, data: {confirm: "削除しますか?"} %>
  　</div>
    <div class="col-sm-4"></div>
  </div>
</div>