<!DOCTYPE html>
<html>
  <head>
    <title>ThisIsAway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top header border-bottom navbar-dark bg-dark border-dark sticky-top">
        <div class="container">
          <nav class="nav navbar-nav navbar-left">
            <h2><li><%= link_to "This is AwayEX!!", root_path,  class: "nav-link text-light border border-dark " %></li></h2>
          </nav>
          <ul class="nav navbar-right">
            <% if admin_signed_in? %>
              <li><%= link_to "会員一覧", admin_root_path, class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "投稿一覧", admin_posts_path, class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "ジャンル管理", admin_genres_path, class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, class: "nav-link border text-light border-dark", method: :delete %></li>
            <% elsif customer_signed_in? %>
              <li><%= link_to "マイページ", customer_path(current_customer.id),  class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "フォロー", customer_followings_path(current_customer.id),  class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "フォロワー", customer_followers_path(current_customer.id),  class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "投稿一覧", posts_path, class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, class: "nav-link border text-light border-dark", method: :delete %></li>
            <% else %>
              <li><%= link_to "HOME", root_path,  class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "ABOUT", about_path, class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "新規登録", new_customer_registration_path, class: "nav-link border text-light border-dark" %></li>
              <li><%= link_to "ログイン", new_customer_session_path, class: "nav-link border text-light border-dark" %></li>

            <% end %>

        </div>
      </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <div class="container mt-5">
      	<div class="row">
        	<div class="mx-auto mt-5">
        		<p>©︎soccer</p>
        	</div>
        </div>
      </div>
    </footer>
  </body>
</html>
